<div ng-show="userInfo">
<div class="metrix-header">
    <div class="col-md-2">
        <img src="img/placeholder.gif">
    </div>
    <div id="user-location" class="col-md-6">
        <a href="/">
            <img src="img/metrix_small.png">
        </a>
        <span ng-repeat="section in pathSections">
            <span ng-if="$last" >{{section.name}} </span>
            <span></apan></apn><a ng-if="!$last" href="" ng-click="setPath(section.path)">{{section.name}} </a></span>
            <span ng-if="!$last" >/</span>
        </span>
    </div>
    <div id="header-menu" class="col-md-2">
    <span>
        <a href="" ng-click="signOut()">Sign out {{userInfo.displayName}}</a>
    </span>
    </div>
    <div class="col-md-2">
        <img src="img/placeholder.gif">
    </div>
</div>
<div id="dropbox">
    <div id="charts-panel" class="col-md-2">
        <div id="folder-chart">
            <canvas tc-chartjs-pie chart-options="chartOptions" chart-data="chartData" width="200"
                    height="200"></canvas>
            <p>Current folder statistic</p>
            <p>Total: {{totalSize | bytes}}</p>
        </div>

        <div id="global-progress-bar">
            <div>
                <canvas  tc-chartjs-doughnut chart-options="chartOptions2" chart-data="chartData2"></canvas>
            </div>
            <p>Complete {{dropbox.total / userInfo.quota.normal * 100 | number : 1}}%</p>
            <p>{{dropbox.total | bytes}} of {{userInfo.quota.normal | bytes}}</p>
        </div>

    </div>
    <div class="col-md-8">
        <table id="dropbox-item-list" class="table">
            <thead>
            <tr>
                <th style="padding-left: 15px">Name</th>
                <th>Size</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in dropbox.node.children | orderBy:'size':true">

                <td ng-class="{blink : !node.complete}" ng-if="node.type == 'DIR'">
                    <div class="legend" ng-style="{'background-color' : node.color}"></div>
                    <img src="/img/placeholder.gif" class="folder-icon"><a href="" ng-click="setPath(node.path)">{{node.path}}</a>
                </td>
                <td ng-if="node.type == 'FILE'">
                    <div class="legend"  ng-style="{'background-color' : node.color}"></div>
                    <img src="/img/placeholder.gif" class="file-icon">{{node.path}}
                </td>

                <td>{{node.size | bytes}}</td>

                <td ng-if="node.type == 'DIR'"><a href="https://dropbox.com/home{{node.path}}" target="_blank"><span
                        class="glyphicon glyphicon-link"></span></a></td>
                <td ng-if="node.type == 'FILE'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <img src="img/placeholder.gif">
    </div>
</div>
</div>