<ab-header></ab-header>
<div class="dropbox">
    <div style="width:30%; float: left">
        <p style="width:100%">Processed: {{dropbox.total | bytes}} of {{userInfo.quota.normal
            | bytes}}</p>

        <div style="width:100%; height:4px; border:1px solid #ddd">
            <div id="progress-bar" style="width:{{dropbox.total / userInfo.quota.normal * 100}}%;/*change this width */
       background-color: #69b5f2;
       height:4px;">
            </div>
        </div>
        <button ng-click="resetStats()">Reset</button>
        <canvas tc-chartjs-pie chart-options="chartOptions" chart-data="chartData" width="350" height="350"></canvas>
        <p>Total: {{totalSize | bytes}}</p>
    </div>
    <div style="width:70%; float: left">
        <p style="width:100%"> Path: {{dropbox.node.path}}.</p>
        <table class="table dropboxTable" >
            <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Legend</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in dropbox.node.children | orderBy:'size':true">

                <td ng-class="{blink : !node.complete}" ng-if="node.type == 'DIR'"><img src="/img/placeholder.gif"
                                                                                        class="folderIcon"><a href=""
                                                                                                              ng-click="setPath(node.path)">{{node.path}}</a>
                </td>
                <td ng-if="node.type == 'FILE'"><img src="/img/placeholder.gif" class="fileIcon">{{node.path}}</td>

                <td>{{node.size | bytes}}</td>

                <td><div style="width: 20px; height: 20px; border-radius: 10px; background-color: {{node.color}}"></div></td>

                <td ng-if="node.type == 'DIR'"><a href="https://dropbox.com/home{{node.path}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a></td>
                <td ng-if="node.type == 'FILE'"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>