<div ng-show="userInfo">
<div class="metrix-header row">
    <div class="col-md-2 col-xs-2">
        <img src="img/placeholder.gif">
    </div>
    <div id="user-location" class="col-md-6 col-xs-6">
        <div><a href="/#/"><img id="logo" src="img/metrix_small.png"></a></div>
        <span ng-if="pathInfo.length < 40" ng-repeat="section in pathInfo.sections">
            <span ng-if="$last" >{{section.name}} </span>
            <span><a ng-if="!$last" href="" ng-click="setPath(section.path)">{{section.name}} </a></span>
            <span ng-if="!$last" >/</span>
        </span>
        <span  ng-if="pathInfo.length >= 40" dropdown class="dropdown">
            <a href="" class="dropdown-toggle" dropdown-toggle>...</a>
            <ul class="dropdown-menu">
                <li ng-if="!$last" ng-repeat="section in pathInfo.sections">
                    <span><a href="" ng-click="setPath(section.path)"><img src="/img/placeholder.gif" class="folder-icon">{{section.name}}</a></span>
                </li>
            </ul>
            <span>/</span>
            <span>{{
                pathInfo.sections[pathInfo.sections.length - 1].name.length > 40 ?
                pathInfo.sections[pathInfo.sections.length - 1].name.substr(0, 40) + "..." :
                pathInfo.sections[pathInfo.sections.length - 1].name}}</span>
        </span>
    </div>
    <div id="header-menu" class="col-md-2 col-xs-2">
    <span>
        <a href="" ng-click="signOut()" >Sign out</a>
    </span>
    </div>
    <div class="col-md-2 col-xs-2">
        <img src="img/placeholder.gif">
    </div>
</div>
<div id="dropbox" class="row">
    <div id="charts-panel" class="col-md-2 col-xs-2">

        <div ng-if="folderData && totalSize != 0" id="folder-chart">
            <canvas tc-chartjs-pie chart-options="folderChartOptions" chart-data="folderData" width="200"
                    height="200"></canvas>
            <p>Current folder statistic</p>
            <p>Total: {{totalSize | bytes}}</p>
        </div>
        <div ng-if="totalSize == 0" id="no-files">
            <p>No files found</p>
        </div>

        <div ng-if="globalProgressData" id="global-progress-bar">
            <div>
                <canvas  tc-chartjs-doughnut chart-options="globalProgressChartOptions" chart-data="globalProgressData"></canvas>
            </div>
            <p>Complete {{dropbox.total / (userInfo.quota.normal + userInfo.quota.shared) * 100 | number : 1}}%</p>
            <p>{{dropbox.total | bytes}} of {{(userInfo.quota.normal + userInfo.quota.shared) | bytes}}</p>
        </div>

    </div>
    <div class="col-md-8 col-xs-8">
        <table id="dropbox-item-list" class="table">
            <thead>
            <tr>
                <th style="padding-left: 15px">Name</th>
                <th>Size</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in dropbox.node.children | orderBy:'size':true">

                <td>
                    <div style="width:100%">
                        <div class="node-name" ng-class="{blink : !node.complete}" ng-if="node.type == 'DIR'">
                            <div class="legend" ng-style="{'background-color' : node.color}"></div>
                            <a href="" ng-click="setLoader(node);setPath(node.path)"><img src="/img/placeholder.gif" ng-class="node.showLoader ? 'folder-icon-loader' : 'folder-icon'">{{node.name}}</a>
                        </div>
                        <div class="node-name" ng-if="node.type == 'FILE'">
                            <div class="legend"  ng-style="{'background-color' : node.color}"></div>
                            <img src="/img/placeholder.gif" class="file-icon">{{node.name}}
                        </div>
                    </div>
                </td>

                <td>{{node.size | bytes}}</td>

                <td ng-if="node.type == 'DIR'"><a href='https://dropbox.com/home{{encode(node.path)}}' target="_blank"><span
                        class="glyphicon glyphicon-link"></span></a></td>
                <td ng-if="node.type == 'FILE'"><a href="https://dropbox.com/home{{encode(dropbox.node.path)}}?select={{node.name.replace(' ', '+')}}" target="_blank"><span
                        class="glyphicon glyphicon-link"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 col-xs-1">
        <img src="img/placeholder.gif">
    </div>
</div>
</div>